{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "80",
          "firefox": "66",
          "chrome": "72",
          "safari": "13"
        },
        "useBuiltIns": "usage",
        "corejs": "3.33.0"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "version": "2023-05" }]
  ]
}
